.communication {
  padding: 60px 0 60px;

  background: linear-gradient(to right, #102654 50%, #ffffff 50%);

    @media (max-width: $tablet) {
      background: linear-gradient(to bottom, #102654 50.7%, #ffffff 50.7%);
    }

    @media (max-width: $mobile) {
      padding: 70px 0 40px;
    }
}

.communication__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.communication__title {
  margin-bottom: 38px;

  text-align: left;

  @media (max-width: $tablet) {
    margin-bottom: 33px;

    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }
}

.communication__title--address {
  margin-bottom: 40px;

  @media (max-width: $tablet) {
    margin-bottom: 35px;
  }
}

.communication__callback {
  padding-right: 103px;
  color: #ffffff;

  @media (max-width: $tablet) {
    width: 440px;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 60px;
  }
}

.communication__form {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 30px;
}

.communication__submit {
  @include button-reset;
  @include link-into-button;

  &:hover {
    color: #103aae;
    background-color: #ffffff;
  }

  &:focus-visible {
    color: #103aae;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000000;
    outline: 0;
  }

  &:active {
    color: #102654;
    background-color: #ffffff;
    border: 2px solid $text-light-color;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.communication__label {
  width: calc((100% / 2) - 15px);

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.communication__input {
  padding-bottom: 4px;
  width: 100%;
  min-height: 22px;

  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;

  transition: 0.3s ease-in-out, outline 0.3s ease-in-out;

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &:hover {
    border-bottom: 1px solid #ffffff;

    &::placeholder {
      color: #ffffff;
    }
  }

  &:focus-visible {
    border: none;
    outline: 1px solid #ffffff;

    &::placeholder {
      opacity: 0;
    }
  }
}

.communication__address {
  position: relative;

  padding-left: 103px;

  @media (max-width: $tablet) {
    width: 440px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 60px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    padding-top: 40px;
  }
}
