<<<<<<< HEAD
.games {
  @media (max-width: $mobile) {
    padding: 30px 0;
  }
}

.games__container {
  display: grid;
  grid-template-columns: 5fr 6.6fr;
  background-clip: content-box;

  background-color: #ed0233;
=======
.games__container {
  display: grid;
  grid-template-columns: 5fr 6.6fr;
>>>>>>> e820aff1e17486f3eb31db6fcae5394d798ce76d

  @media (max-width: $tablet) {
    grid-template-columns: 3fr 3.8fr;
  }
<<<<<<< HEAD

=======
>>>>>>> e820aff1e17486f3eb31db6fcae5394d798ce76d
    @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
}

.games__content {
  display: grid;
  grid-template-areas: "title duration" "description description" "button button";
<<<<<<< HEAD
  align-self: start;
=======
>>>>>>> e820aff1e17486f3eb31db6fcae5394d798ce76d
  gap: 30px 77px;
  padding: 60px 80px;

  font-size: 18px;
  color: #ffffff;

<<<<<<< HEAD
=======
  background-color: #ed0233;

>>>>>>> e820aff1e17486f3eb31db6fcae5394d798ce76d
  @media (max-width: $tablet) {
    padding: 40px;
    gap: 10px 20px;
  }


  @media (max-width: $mobile) {
    gap: 16px 37px;
  }
}

.games__title {
  grid-area: title;
<<<<<<< HEAD
  padding-top: 0;
  margin-bottom: 0;

=======
  margin: 0;
  
>>>>>>> e820aff1e17486f3eb31db6fcae5394d798ce76d
  font-size: 82px;
  line-height: 96px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;

  @media (max-width: $tablet) {
    font-size: 48px;
    line-height: 54px;
  }
}

.games__description {
  grid-area: description;
  margin: 0;
}

.games__button {
  @include link-into-button;
  @include button-effects-on-dark-background;

  grid-area: button;
}

.games__img {
  display: block;
<<<<<<< HEAD
}
=======
}
>>>>>>> e820aff1e17486f3eb31db6fcae5394d798ce76d
