.offer {
  display: flex;
  min-height: 174px;

  &--accent {
    background-color: #ed0233;
    color: #ffffff;

    @media (max-width: $mobile) {
      flex-direction: column;
      margin: 0 -15px;
    }
  }

  @media (max-width: $tablet) {
    min-height: 188px;
  }

  @media (max-width: $mobile) {
    min-height: 180px;

    text-align: center;
  }
}

.offer__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;

  border: 7px solid;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;

  &--accent {
    width: 50%;
    padding: 40px 45px;

    border: none;

    @media (max-width: $tablet) {
      width: 41%;
      padding: 40px 25px;
    }

    @media (max-width: $mobile) {
      width: 100%;
      padding: 30px;
    }
  }
}

.offer h3 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 26px;
  line-height: 26px;
  font-weight: 700;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 22px;
  }
}

.offer--accent h3 {
  margin-bottom: 20px;

  @media (max-width: $tablet) {
    margin-bottom: 18px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 9px;
  }
}

.offer p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.offer--accent p {
  font-size: 18px;

  @media (max-width: $mobile) {
    margin-bottom: 28px;

    font-size: 16px;
    line-height: 22px;
  }
}

.offer--accent span {
  margin-bottom: 40px;

  font-size: 70px;
  line-height: 70px;
  font-weight: 700;

  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 28px;

    font-size: 64px;
    line-height: 64px;
  }
}

.offer__link {
  @include link-reset;
  @include link-effects-on-light-background;

  align-self: flex-start;
  margin-top: auto;
  padding-bottom: 5px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #1c3374;
  text-transform: uppercase;

  border-bottom: 1px solid #74819c;

  @media (max-width: $mobile) {
    align-self: center;
  }
}

.offer--accent .offer__link {
  @include link-effects-on-dark-background;

  color: inherit;
  border-color: inherit;
}

.offer__img {
  display: block;
}
