.reviews__container {
    position: relative;
}

.reviews__title {
    margin-bottom: 75px;

    @media (max-width: $tablet) {
        margin-bottom: 35px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 40px;
    }
}

.reviews__swiper {
    width: 560px;
    margin: 0 auto;

    @media (max-width: $tablet) {
        width: 500px;
    }

    @media (max-width: $mobile) {
        width: 240px;
    }
}

.reviews__navigation {
    content: "";
    position: absolute;
    top: 50%;
    right: 299px;
    left: 299px;

    display: flex;
    justify-content: space-between;
    height: 32px;

    @media (max-width: $tablet) {
        right: 45px;
        left: 45px;
    }

    @media (max-width: $mobile) {
        display: none;
    }
}