@mixin button-reset {
  padding: 0;

  font-family: $basic-font;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@mixin link-into-button {
  @include link-reset;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 66px;
  padding: 5px;

  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;

  border: 2px solid $text-light-color;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, outline 0.3s ease-in-out, border 0.3s ease-in-out;
}
