// BREAKPOINTS
$tablet: 1365px;
$mobile: 767px;

// FONTS
$basic-font: "Roboto Condensed", "Arial Narrow", sans-serif;
$accent-font: "Alumni Sans", "Trebuchet MS", sans-serif;

// COLORS

$text-light-color: #ffffff;
